body {
  margin: 0;
  background-image: url("assets/sunnyskies.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
